@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.search-input {
  width: 95%;
  height: 40px;
  margin: 10px;
  padding: 3px 7px;
  font-size: 17px;
}

.file-upload {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.success {
  background-color: rgb(19, 253, 175);
  width: fit-content;
  padding: 5px 15px;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}

.error {
  background-color: rgb(234, 28, 28);
  width: 50%;
  padding: 5px 15px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}

.notice {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  color: rgb(107, 104, 104);
}

.add-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bulk-delete {
  cursor: pointer;
  color: red;
}
.bulk-add {
  cursor: pointer;
  color: rgb(8, 88, 238);
}

.deleteicon {
  cursor: pointer;
  color: red;
}

.editicon {
  cursor: pointer;
  color: green;
  margin-left: 5px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.contact {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact.selected {
  border-left: 5px solid green;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}
